<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
	<setting label="32031" type="bool"	 id="firstrun" default="true" visible="false"/>
	<setting label="32020" type="text" id="LIVE_USERNAME" default=""/>
    <setting label="32030" type="text" id="LIVE_PASSWORD" option="hidden"  enable="!eq(-10,)" default=""/>
  </category>
  <category label="32001">
    <setting label="32032" type="action" action="RunPlugin(plugin://plugin.video.bigpond-movies/?action=cleartoken)"/>
	<setting label="32033" type="action" action="RunPlugin(plugin://plugin.video.bigpond-movies/?action=reinstall_ssd_wv)"/>
	<setting label="32034" type="action" action="RunPlugin(plugin://plugin.video.bigpond-movies/?action=reinstall_widevine_cdm)"/>
  </category>
  
</settings>